# Kimore

In [1]:
import os
import csv
import openpyxl
import pandas as pd
import numpy as np

path = "Kimore"
kinect_joints = ["spinebase", "spinemid", "neck", "head", 
                 "shoulderleft", "elbowleft", "wristleft", 
                 "handleft", "shoulderright", "elbowright", 
                 "wristright", "handright", "hipleft", "kneeleft", 
                 "ankleleft", "footleft", "hipright", "kneeright", 
                 "ankleright", "footright", "spineshoulder", "handtipleft", 
                 "thumbleft", "handtipright", "thumbright"]

enable_kinect_joints = False
enable_slice_list = False

data = []
for (root, dirs, files) in os.walk(path):

    # if current directory contains "Raw", extract data
    if "Raw" in dirs:
        
        new_dict = {}
        
        # get exercise number
        new_dict["Exercise"] = int(root[-1])

        # extract raw data
        raw_files = os.listdir(os.path.join(root, "Raw"))
        for file in raw_files:

            file_path = os.path.join(os.path.join(root, "Raw"),file)
            csv_file = open(file_path, newline='')
            csv_reader = csv.reader(csv_file)
            
            if file.startswith("JointOrientation"):
                
                if enable_kinect_joints:
                    for joint in kinect_joints:
                        new_dict[joint + "-o"] = []

                    for row in csv_reader:
                        for i in range(len(kinect_joints)):
                            if len(row) > 0:
                                new_dict[kinect_joints[i] + "-o"].append(row[(4*i):(4*i+4)])
                else:
                    new_dict["JointOrientation"] = []
                    for row in csv_reader:
                        if len(new_dict["JointOrientation"]) >= 182 and enable_slice_list:
                            break
                        elif len(row) > 0:
                            if '' in row:
                                row.remove('')
                            new_dict["JointOrientation"].append(np.array([float(i) for i in row]))
                    np.array(new_dict["JointOrientation"])
                            

            elif file.startswith("JointPosition"):
                
                if enable_kinect_joints:
                    for joint in kinect_joints:
                        new_dict[joint + "-p"] = []

                    for row in csv_reader:
                        for i in range(len(kinect_joints)):
                            if len(row) > 0:
                                new_dict[kinect_joints[i] + "-p"].append(row[(4*i):(4*i+3)])
                else:
                    new_dict["JointPosition"] = []
                    for row in csv_reader:
                        if len(new_dict["JointPosition"]) >= 182 and enable_slice_list:
                            break
                        elif len(row) > 0:
                            if '' in row:
                                row.remove('')
                            new_dict["JointPosition"].append(np.array([float(i) for i in row]))
                    np.array(new_dict["JointPosition"])

            elif file.startswith("TimeStamp"):

                new_dict["Timestamps"] = []
                for row in csv_reader:
                    if len(new_dict["Timestamps"]) >= 182 and enable_slice_list:
                        break
                    elif len(row) > 0:
                        if '' in row:
                                row.remove('')
                        new_dict["Timestamps"].append(row)
                            
                        

        # extract data labels
        label_files = os.listdir(os.path.join(root, "Label"))
        for file in label_files:

            file_path = os.path.join(os.path.join(root, "Label"),file)
            book = openpyxl.load_workbook(file_path)
            sheet = book.active

            if file.startswith("SuppInfo"):
                for i in range(1, sheet.max_column):
                    t = sheet.cell(1, i).value
                    v = sheet.cell(2, i).value
                    new_dict[t] = v
            
            elif file.startswith("ClinicalAssessment"):
                new_dict["cTS"] = sheet.cell(2, new_dict["Exercise"]+1).value
                new_dict["cPO"] = sheet.cell(2, new_dict["Exercise"]+6).value
                new_dict["cCF"] = sheet.cell(2, new_dict["Exercise"]+11).value
        
        # append exercise to data
        data.append(new_dict)

C:\Users\Dilemre\anaconda3\lib\site-packages\openpyxl\reader\excel.py:228: UserWarning: Unknown extension is not supported and will be removed
  ws_parser.bind_all()
C:\Users\Dilemre\AppData\Local\Temp\ipykernel_13212\2278027947.py:57: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  np.array(new_dict["JointOrientation"])
C:\Users\Dilemre\AppData\Local\Temp\ipykernel_13212\2278027947.py:79: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  np.array(new_dict["JointPosition"])

In [2]:
def findOutlierLen(JP, JO):
    """
    Parameters:
        JP: JointPosition.
        JO: JointOrientation.
    """
    signal = 1
    outlier = []
    for i in range(0, len(JP)):
        for j in range(0, len(JP[i])):
            if len(JP[i][j]) != 100:
                signal = 0
                outlier.append(i)
                break
        
    if signal:
        print("No outlier lenght.")
        
    return outlier
      
    
def isSameShape(JP, JO):
    """
    Parameters:
        JP: JointPosition.
        JO: JointOrientation.
    """
    signal = 1
    for i in range(0, len(JP)):
        for j in range(0, len(JP[i])):
            if np.shape(JP) != np.shape(JO):
                signal = 0
                print("Position:\t", i, j, "len: ",len(JP[i][j]))
                print("Orientation:\t", i, j, "len: ",len(JO[i][j]))

    if signal:
        print("All equally shaped.")

        
def minMaxLen(TM):
    """
    Parameters:
        TM: Timestamps.
    """
    print("min len: ", TM.apply(len).sort_values().iat[0], "idx: ", TM.apply(len).sort_values().index[0],
      "\nmax len: ", TM.apply(len).sort_values(ascending=False).iat[0], "idx: ", TM.apply(len).sort_values(ascending=False).index[0])
    
    
def groupExerciseCount(df):
    """
    Parameters:
        df: Dataframe
    """
    for g in df.Group.unique():
        for e in df.Exercise.unique():
            print("Group:", g, "\tExercise:", e, "\tCount:", df[(df["Group"]==g) & (df["Exercise"]==e)].shape[0])

In [3]:
df = pd.DataFrame(data)

In [4]:
df

,Exercise,JointOrientation,JointPosition,Timestamps,cTS,cPO,cCF,Subject ID,Group,Age
0,1,"[[-0.0531085, 0.00232358, 0.99423, -0.0931733,...","[[-0.0468451, -0.409343, 2.6241, 2.0, -0.04849...","[[20622112895], [20622442942], [20622783803], ...",48.333333,14.666667,33.666667,E_ID1,E,50
1,2,"[[-0.0610258, 0.00258101, 0.995022, -0.0787486...","[[-0.0578279, -0.407365, 2.60017, 2.0, -0.0592...","[[21184779662], [21185108840], [21185438830], ...",45.000000,13.666667,31.333333,E_ID1,E,50
2,3,"[[-0.0298744, -0.00814489, 0.995711, -0.087179...","[[-0.0652774, -0.418544, 2.56966, 2.0, -0.0718...","[[21902433786], [21902774551], [21903104529], ...",48.333333,15.000000,33.333333,E_ID1,CG_E,50
3,4,"[[-0.0369213, -0.00490366, 0.995614, -0.085821...","[[-0.0674865, -0.397115, 2.58841, 2.0, -0.0723...","[[22621099365], [22621428603], [22621769446], ...",50.000000,15.000000,35.000000,E_ID1,CG_E,50
4,5,"[[-0.0517414, -0.000435555, 0.99603, -0.072440...","[[-0.0630149, -0.394823, 2.59342, 2.0, -0.0655...","[[23248424127], [23248764907], [23249094898], ...",48.333333,15.000000,33.333333,E_ID1,CG_E,50
...,...,...,...,...,...,...,...,...,...,...
385,1,"[[0.039838, -0.0277761, 0.995785, -0.0777996, ...","[[-0.20825, -0.500367, 2.32432, 2.0, -0.223546...","[[711302136484], [711302477267], [711302806451...",26.333333,6.333333,20.000000,S_ID9,S,67
386,2,"[[0.0600943, -0.0332151, 0.995777, -0.0609322,...","[[-0.209425, -0.48988, 2.31622, 2.0, -0.227487...","[[711894802395], [711895132382], [711895473180...",17.666667,4.333333,13.333333,S_ID9,S,67
387,3,"[[0.0795781, -0.0310581, 0.994218, -0.0650627,...","[[-0.202571, -0.492478, 2.31694, 2.0, -0.21846...","[[712329470249], [712329799436], [712330129378...",26.333333,6.333333,20.000000,S_ID9,S,67
388,4,"[[-0.00995722, -0.0160432, 0.997548, -0.067393...","[[-0.199238, -0.471849, 2.29448, 2.0, -0.20909...","[[712712796766], [712713126759], [712713467555...",23.000000,7.000000,16.000000,S_ID9,S,67
389,5,"[[0.057045, -0.0307528, 0.996105, -0.0597952, ...","[[-0.177143, -0.506639, 2.30473, 2.0, -0.19405...","[[713456462445], [713456791656], [713457121661...",35.333333,9.666667,25.666667,S_ID9,S,67

In [5]:
df.at[2, 'Group'] = "E"
df.at[3, 'Group'] = "E"
df.at[4, 'Group'] = "E"

In [6]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Exercise,390.0,3.000000,1.416030,1.000000,2.000000,3.000000,4.0,5.0
cTS,383.0,37.457573,10.204780,10.000000,30.140452,40.000000,46.0,50.0
cPO,383.0,11.040233,3.952683,0.005147,8.540081,12.000000,14.5,15.0
cCF,383.0,26.413858,7.043139,7.000000,22.276553,27.360633,32.0,35.0
Age,390.0,45.641026,19.354609,17.000000,26.000000,45.500000,63.0,81.0

In [7]:
df.isnull().sum()

Exercise            0
JointOrientation    5
JointPosition       5
Timestamps          3
cTS                 7
cPO                 7
cCF                 7
Subject ID          0
Group               0
Age                 0
dtype: int64

In [8]:
dropped_rows = df[df.isna().any(axis=1)]
dropped_rows

,Exercise,JointOrientation,JointPosition,Timestamps,cTS,cPO,cCF,Subject ID,Group,Age
40,1,"[[-0.0481282, 8.87374e-07, 0.985768, 0.161073,...","[[0.175871, -1.10702, 2.84095, 2.0, 0.180718, ...","[[30437599246420], [30437599576380], [30437599...",NaN,NaN,NaN,E_ID17,E,45
41,2,"[[0.0199295, -0.0368523, 0.996205, 0.0762919, ...","[[0.155424, -1.09849, 3.29907, 2.0, 0.13016, -...","[[30438448240198], [30438448570198], [30438448...",NaN,NaN,NaN,E_ID17,E,45
42,3,"[[-0.228232, 0.030343, 0.964276, 0.131002, -0....","[[0.173645, -1.03028, 3.27985, 2.0, 0.209115, ...","[[30439025566426], [30439025896688], [30439026...",NaN,NaN,NaN,E_ID17,E,45
43,4,"[[-0.101832, 0.0088296, 0.98639, 0.128791, -0....","[[0.277114, -1.03271, 3.01552, 2.0, 0.290556, ...","[[30442081214560], [30442081543751], [30442081...",NaN,NaN,NaN,E_ID17,E,45
44,5,"[[-0.0201885, -0.0603588, 0.992337, -0.105904,...","[[0.300576, -1.3918, 3.14916, 2.0, 0.263258, -...","[[30442714879944], [30442715209965], [30442715...",NaN,NaN,NaN,E_ID17,E,45
76,2,NaN,NaN,NaN,NaN,NaN,NaN,E_ID8,E,22
97,3,NaN,"[[-0.196504, -0.761454, 2.62517, 2.0, -0.19706...","[[10369220941503], [10369221270654], [10369221...",40.00000,15.000000,25.000000,NE_ID11,NE,75
99,5,[],NaN,"[[10370694259997], [10370694589964], [10370694...",49.00000,14.000000,35.000000,NE_ID11,NE,75
166,2,"[[0.0367658, 0.00355401, 0.998187, -0.0475269,...",NaN,"[[184099250059], [184099580040], [184099910803...",44.00000,13.000000,31.000000,NE_ID24,NE,25
258,4,NaN,NaN,NaN,NaN,NaN,NaN,B_ID8,B,36
329,5,NaN,"[[-0.0972923, -0.885206, 2.55985, 2.0, -0.0897...","[[10433701812083], [10433702141293], [10433702...",18.00000,3.000000,15.000000,P_ID7,P,76
367,3,NaN,NaN,NaN,37.41889,12.250357,25.168533,S_ID5,S,63

In [9]:
del dropped_rows

In [10]:
df = df.dropna().reset_index(drop=True)

In [11]:
outlier = findOutlierLen(df.JointPosition, df.JointOrientation)
if len(outlier) > 0:
    df = df.drop(outlier).reset_index(drop=True)
    outlier = findOutlierLen(df.JointPosition, df.JointOrientation)
del outlier

No outlier lenght.

In [12]:
isSameShape(df.JointPosition, df.JointOrientation)

All equally shaped.

In [13]:
minMaxLen(df.Timestamps)

min len:  182 idx:  26
max len:  2487 idx:  327

In [14]:
groupExerciseCount(df)

Group: E 	Exercise: 1 	Count: 15
Group: E 	Exercise: 2 	Count: 15
Group: E 	Exercise: 3 	Count: 16
Group: E 	Exercise: 4 	Count: 16
Group: E 	Exercise: 5 	Count: 16
Group: NE 	Exercise: 1 	Count: 27
Group: NE 	Exercise: 2 	Count: 26
Group: NE 	Exercise: 3 	Count: 26
Group: NE 	Exercise: 4 	Count: 27
Group: NE 	Exercise: 5 	Count: 26
Group: B 	Exercise: 1 	Count: 8
Group: B 	Exercise: 2 	Count: 8
Group: B 	Exercise: 3 	Count: 8
Group: B 	Exercise: 4 	Count: 7
Group: B 	Exercise: 5 	Count: 8
Group: P 	Exercise: 1 	Count: 15
Group: P 	Exercise: 2 	Count: 16
Group: P 	Exercise: 3 	Count: 16
Group: P 	Exercise: 4 	Count: 16
Group: P 	Exercise: 5 	Count: 15
Group: S 	Exercise: 1 	Count: 10
Group: S 	Exercise: 2 	Count: 10
Group: S 	Exercise: 3 	Count: 9
Group: S 	Exercise: 4 	Count: 10
Group: S 	Exercise: 5 	Count: 9

In [15]:
from numpy.lib.stride_tricks import sliding_window_view

def windowing(joints, shape = 100):
    v = sliding_window_view(np.array(joints[0:len(joints) - (len(joints) % 100)]).flatten(), shape)
    return v[::v.shape[0]//500,:]

In [16]:
df.JointPosition = df.JointPosition.apply(lambda x: windowing(x)[:500, :]).to_numpy()
df.JointOrientation = df.JointOrientation.apply(lambda x: windowing(x)[:500, :]).to_numpy()

In [17]:
list_of_group = []
for g in df.Group.unique():
    for e in df.Exercise.unique():
        subset = df.loc[(df["Group"] == g) & (df["Exercise"] == e), :].sample(7)
        list_of_group.append(subset)
        
downsampled_df = pd.concat(list_of_group, ignore_index=True)
del list_of_group

In [18]:
downsampled_df = downsampled_df.drop(columns=["Timestamps", "cTS", "cPO", "cCF",  "Age "])
e = downsampled_df.pop("Exercise")
g = downsampled_df.pop("Group")
downsampled_df["Exercise"] = e
downsampled_df["Group"] = g
del e
del g
downsampled_df

,JointOrientation,JointPosition,Subject ID,Exercise,Group
0,"[[-0.0291067, -0.010349, 0.996596, -0.0764306,...","[[-0.285892, -0.365391, 2.52345, 2.0, -0.29387...",E_ID7,1,E
1,"[[-0.00870099, 3.66002e-06, 0.994934, -0.10015...","[[-0.0420686, -0.293024, 2.74052, 2.0, -0.0426...",E_ID3,1,E
2,"[[-0.0334157, -0.00490922, 0.999073, -0.026700...","[[-0.386592, -0.475966, 2.38737, 2.0, -0.39024...",E_ID2,1,E
3,"[[-0.0179779, 0.00536922, 0.996446, -0.0821169...","[[-0.0811335, -0.28634, 2.31876, 2.0, -0.07840...",E_ID6,1,E
4,"[[0.0225685, -0.00257336, 0.996571, -0.0795634...","[[-0.119718, -0.349367, 2.58018, 2.0, -0.12021...",E_ID13,1,E
...,...,...,...,...,...
170,"[[0.0180271, 0.0140138, 0.996382, -0.0818583, ...","[[-0.355986, -0.549952, 2.51772, 2.0, -0.34697...",S_ID10,5,S
171,"[[0.0994289, -0.0135622, 0.993961, -0.0443926,...","[[-0.551777, -0.653763, 3.37547, 2.0, -0.55710...",S_ID1,5,S
172,"[[-0.00776768, -0.00889276, 0.995485, 0.094179...","[[0.264927, -1.1843, 2.69292, 2.0, 0.259954, -...",S_ID5,5,S
173,"[[0.0037668, -0.158592, 0.945976, -0.282777, -...","[[-0.312456, -0.214189, 2.88801, 2.0, -0.33213...",S_ID3,5,S
174,"[[0.131028, 0.0116614, 0.987266, 0.0894549, 0....","[[-0.151124, -0.746975, 3.43042, 2.0, -0.15124...",S_ID4,5,S

In [19]:
groupExerciseCount(downsampled_df)

Group: E 	Exercise: 1 	Count: 7
Group: E 	Exercise: 2 	Count: 7
Group: E 	Exercise: 3 	Count: 7
Group: E 	Exercise: 4 	Count: 7
Group: E 	Exercise: 5 	Count: 7
Group: NE 	Exercise: 1 	Count: 7
Group: NE 	Exercise: 2 	Count: 7
Group: NE 	Exercise: 3 	Count: 7
Group: NE 	Exercise: 4 	Count: 7
Group: NE 	Exercise: 5 	Count: 7
Group: B 	Exercise: 1 	Count: 7
Group: B 	Exercise: 2 	Count: 7
Group: B 	Exercise: 3 	Count: 7
Group: B 	Exercise: 4 	Count: 7
Group: B 	Exercise: 5 	Count: 7
Group: P 	Exercise: 1 	Count: 7
Group: P 	Exercise: 2 	Count: 7
Group: P 	Exercise: 3 	Count: 7
Group: P 	Exercise: 4 	Count: 7
Group: P 	Exercise: 5 	Count: 7
Group: S 	Exercise: 1 	Count: 7
Group: S 	Exercise: 2 	Count: 7
Group: S 	Exercise: 3 	Count: 7
Group: S 	Exercise: 4 	Count: 7
Group: S 	Exercise: 5 	Count: 7

In [20]:
minMaxLen(downsampled_df.JointOrientation)

min len:  500 idx:  0
max len:  500 idx:  0

In [21]:
def slice_joints(df):
    temp = pd.DataFrame()
    temp["JointOrientation"] = np.array_split(df.JointOrientation, 10)
    temp["JointPosition"] = np.array_split(df.JointPosition, 10)
    temp["Subject ID"] = np.repeat(df["Subject ID"], 10)
    temp["Exercise"] = np.repeat(df.Exercise, 10)
    temp["Group"] = np.repeat(df.Group, 10)
    
    return temp

In [22]:
list_of_rows = []
for _, row in downsampled_df.iterrows():
    list_of_rows.append(slice_joints(row))
new_df = pd.concat(list_of_rows, ignore_index=True)
del list_of_rows
del downsampled_df
new_df

,JointOrientation,JointPosition,Subject ID,Exercise,Group
0,"[[-0.0291067, -0.010349, 0.996596, -0.0764306,...","[[-0.285892, -0.365391, 2.52345, 2.0, -0.29387...",E_ID7,1,E
1,"[[0.71662, -0.169052, 0.0762107, 0.692721, -0....","[[2.4529, 2.0, -0.396222, -0.647971, 2.5722, 2...",E_ID7,1,E
2,"[[0.0016353, -0.00116208, 0.998858, -0.0477439...","[[-0.295539, -0.350142, 2.50446, 2.0, -0.29621...",E_ID7,1,E
3,"[[0.710175, -0.171569, 0.08221, 0.700963, -0.1...","[[2.45721, 2.0, -0.395564, -0.651019, 2.57546,...",E_ID7,1,E
4,"[[-0.00616102, -0.00344812, 0.999473, -0.03167...","[[-0.290881, -0.34544, 2.50921, 2.0, -0.293159...",E_ID7,1,E
...,...,...,...,...,...
1745,"[[-0.680607, 0.116872, 0.097614, -0.312216, 0....","[[3.33574, 2.0, -0.271246, -1.00124, 3.34321, ...",S_ID4,5,S
1746,"[[0.0130074, -0.00649919, 0.988356, -0.151465,...","[[-0.12987, -0.927107, 3.47808, 2.0, -0.132292...",S_ID4,5,S
1747,"[[0.683068, -0.122742, 0.0371399, 0.99561, -0....","[[3.31464, 2.0, -0.250759, -1.00152, 3.33506, ...",S_ID4,5,S
1748,"[[0.0424746, -0.0268141, 0.993122, -0.105767, ...","[[-0.146948, -0.867697, 3.46373, 2.0, -0.15920...",S_ID4,5,S
1749,"[[0.725614, -0.20514, 0.248898, -0.5118, -0.11...","[[3.44307, 2.0, -0.307945, -1.11412, 3.28179, ...",S_ID4,5,S

In [23]:
outlier = findOutlierLen(new_df.JointPosition, new_df.JointOrientation)
del outlier

No outlier lenght.

In [24]:
isSameShape(new_df.JointPosition, new_df.JointOrientation)

All equally shaped.

In [25]:
minMaxLen(new_df.JointPosition)

min len:  50 idx:  0
max len:  50 idx:  0

In [26]:
groupExerciseCount(new_df)

Group: E 	Exercise: 1 	Count: 70
Group: E 	Exercise: 2 	Count: 70
Group: E 	Exercise: 3 	Count: 70
Group: E 	Exercise: 4 	Count: 70
Group: E 	Exercise: 5 	Count: 70
Group: NE 	Exercise: 1 	Count: 70
Group: NE 	Exercise: 2 	Count: 70
Group: NE 	Exercise: 3 	Count: 70
Group: NE 	Exercise: 4 	Count: 70
Group: NE 	Exercise: 5 	Count: 70
Group: B 	Exercise: 1 	Count: 70
Group: B 	Exercise: 2 	Count: 70
Group: B 	Exercise: 3 	Count: 70
Group: B 	Exercise: 4 	Count: 70
Group: B 	Exercise: 5 	Count: 70
Group: P 	Exercise: 1 	Count: 70
Group: P 	Exercise: 2 	Count: 70
Group: P 	Exercise: 3 	Count: 70
Group: P 	Exercise: 4 	Count: 70
Group: P 	Exercise: 5 	Count: 70
Group: S 	Exercise: 1 	Count: 70
Group: S 	Exercise: 2 	Count: 70
Group: S 	Exercise: 3 	Count: 70
Group: S 	Exercise: 4 	Count: 70
Group: S 	Exercise: 5 	Count: 70

In [27]:
# y = (downsampled_df.cTS*2/100)
# print("Max value: ", y.max(), "Original value: ", downsampled_df.cTS.iat[y.idxmax()], "idx: ", y.idxmax(),
#       "\nMin value: ", y.min(),  "Original value: ", downsampled_df.cTS.iat[y.idxmin()], "idx: ", y.idxmin())

In [28]:
x1 = np.array(list(zip(new_df.JointOrientation, new_df.JointPosition)))

In [29]:
x1.shape

(1750, 2, 50, 100)

In [30]:
x1 = np.transpose(x1, (0, 2, 3, 1))
x1.shape

(1750, 50, 100, 2)

In [31]:
x2 = np.concatenate([np.stack(new_df.JointOrientation),np.stack(new_df.JointPosition)], axis=-1)
x2.shape

(1750, 50, 200)

In [32]:
y = new_df.Exercise.to_numpy()
y.shape

(1750,)

In [34]:
def get_dataset_partitions(x, y, train_split=0.8, val_split=0.1, test_split=0.1):
    assert (train_split + test_split + val_split) == 1
    
    # Only allows for equal validation and test splits
    # assert val_split == test_split 
    
    assert len(x) == len(y)
    # Specify seed to always have the same split distribution between runs
    p = np.random.permutation(len(y))
    indices_or_sections = [int(train_split * len(y)), int((1 - val_split - test_split) * len(y))]
    
    train_x, val_x, test_x = np.split(x[p], indices_or_sections)
    train_y, val_y, test_y = np.split(y[p], indices_or_sections)
    
    return train_x, val_x, test_x, train_y, val_y, test_y

train_x, val_x, test_x, train_y, val_y, test_y = get_dataset_partitions(x1, y, val_split = 0, test_split = 0.2)

In [35]:
import tensorflow as tf
from tensorflow.keras.layers import *
from tensorflow.keras import Sequential

C:\Users\Dilemre\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [36]:
input_shape = (50, 100, 2)

In [37]:
model = Sequential()
model.add(Conv2D(16, (2, 2), activation="relu", padding="same", input_shape=input_shape))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Flatten())
model.add(Reshape((200, 100)))
model.add(LSTM(16, activation="tanh"))
model.add(Dense(6))

In [38]:
model.build(input_shape=input_shape)
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv2d (Conv2D)             (None, 50, 100, 16)       144

 max_pooling2d (MaxPooling2D  (None, 25, 50, 16)       0
 )

 flatten (Flatten)           (None, 20000)             0

 reshape (Reshape)           (None, 200, 100)          0

 lstm (LSTM)                 (None, 16)                7488

 dense (Dense)               (None, 6)                 102

=================================================================
Total params: 7,734
Trainable params: 7,734
Non-trainable params: 0
_________________________________________________________________

In [39]:
model.compile(optimizer='adam',
              loss=tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True),
              metrics=['accuracy'])

In [40]:
history = model.fit(train_x, train_y, epochs=100, 
                    validation_split=0.2)

Epoch 1/100
35/35 [==============================] - 6s 122ms/step - loss: 1.6963 - accuracy: 0.1741 - val_loss: 1.6274 - val_accuracy: 0.2393
Epoch 2/100
35/35 [==============================] - 4s 103ms/step - loss: 1.6306 - accuracy: 0.2000 - val_loss: 1.6121 - val_accuracy: 0.2214
Epoch 3/100
35/35 [==============================] - 4s 119ms/step - loss: 1.6138 - accuracy: 0.2339 - val_loss: 1.6070 - val_accuracy: 0.2464
Epoch 4/100
35/35 [==============================] - 4s 121ms/step - loss: 1.6092 - accuracy: 0.2268 - val_loss: 1.6160 - val_accuracy: 0.2107
Epoch 5/100
35/35 [==============================] - 4s 104ms/step - loss: 1.5993 - accuracy: 0.2804 - val_loss: 1.5844 - val_accuracy: 0.3286
Epoch 6/100
35/35 [==============================] - 4s 111ms/step - loss: 1.5863 - accuracy: 0.2518 - val_loss: 1.5780 - val_accuracy: 0.2143
Epoch 7/100
35/35 [==============================] - 4s 107ms/step - loss: 1.5694 - accuracy: 0.3205 - val_loss: 1.5498 - val_accuracy: 0.3536
Epoch 8/100
35/35 [==============================] - 4s 109ms/step - loss: 1.5413 - accuracy: 0.3277 - val_loss: 1.4931 - val_accuracy: 0.3214
Epoch 9/100
35/35 [==============================] - 4s 109ms/step - loss: 1.4581 - accuracy: 0.3741 - val_loss: 1.4181 - val_accuracy: 0.4321
Epoch 10/100
35/35 [==============================] - 4s 119ms/step - loss: 1.4398 - accuracy: 0.3670 - val_loss: 1.4579 - val_accuracy: 0.3286
Epoch 11/100
35/35 [==============================] - 4s 114ms/step - loss: 1.3528 - accuracy: 0.4446 - val_loss: 1.2985 - val_accuracy: 0.4643
Epoch 12/100
35/35 [==============================] - 4s 126ms/step - loss: 1.3477 - accuracy: 0.4429 - val_loss: 1.2847 - val_accuracy: 0.4643
Epoch 13/100
35/35 [==============================] - 4s 111ms/step - loss: 1.2788 - accuracy: 0.4536 - val_loss: 1.3236 - val_accuracy: 0.4571
Epoch 14/100
35/35 [==============================] - 4s 107ms/step - loss: 1.2445 - accuracy: 0.4839 - val_loss: 1.2711 - val_accuracy: 0.4179
Epoch 15/100
35/35 [==============================] - 4s 117ms/step - loss: 1.2622 - accuracy: 0.4545 - val_loss: 1.1980 - val_accuracy: 0.4821
Epoch 16/100
35/35 [==============================] - 4s 105ms/step - loss: 1.1731 - accuracy: 0.5125 - val_loss: 1.2007 - val_accuracy: 0.4964
Epoch 17/100
35/35 [==============================] - 4s 109ms/step - loss: 1.1884 - accuracy: 0.4955 - val_loss: 1.1599 - val_accuracy: 0.5179
Epoch 18/100
35/35 [==============================] - 4s 109ms/step - loss: 1.1917 - accuracy: 0.4857 - val_loss: 1.1859 - val_accuracy: 0.5071
Epoch 19/100
35/35 [==============================] - 4s 112ms/step - loss: 1.1298 - accuracy: 0.5286 - val_loss: 1.1474 - val_accuracy: 0.5179
Epoch 20/100
35/35 [==============================] - 4s 108ms/step - loss: 1.0886 - accuracy: 0.5616 - val_loss: 1.0773 - val_accuracy: 0.5964
Epoch 21/100
35/35 [==============================] - 4s 108ms/step - loss: 1.1052 - accuracy: 0.5473 - val_loss: 1.1106 - val_accuracy: 0.5571
Epoch 22/100
35/35 [==============================] - 4s 110ms/step - loss: 1.0740 - accuracy: 0.5527 - val_loss: 1.0608 - val_accuracy: 0.5786
Epoch 23/100
35/35 [==============================] - 4s 109ms/step - loss: 1.0416 - accuracy: 0.5705 - val_loss: 1.0820 - val_accuracy: 0.5393
Epoch 24/100
35/35 [==============================] - 4s 112ms/step - loss: 1.0989 - accuracy: 0.5420 - val_loss: 1.1089 - val_accuracy: 0.5393
Epoch 25/100
35/35 [==============================] - 5s 150ms/step - loss: 1.0638 - accuracy: 0.5643 - val_loss: 1.0369 - val_accuracy: 0.6036
Epoch 26/100
35/35 [==============================] - 5s 130ms/step - loss: 1.0243 - accuracy: 0.5821 - val_loss: 1.0662 - val_accuracy: 0.5786
Epoch 27/100
35/35 [==============================] - 5s 139ms/step - loss: 1.0423 - accuracy: 0.5929 - val_loss: 1.1355 - val_accuracy: 0.4964
Epoch 28/100
35/35 [==============================] - 4s 129ms/step - loss: 1.0521 - accuracy: 0.5705 - val_loss: 1.0929 - val_accuracy: 0.5750
Epoch 29/100
35/35 [==============================] - 4s 109ms/step - loss: 1.0153 - accuracy: 0.6143 - val_loss: 0.9824 - val_accuracy: 0.6464
Epoch 30/100
35/35 [==============================] - 4s 112ms/step - loss: 0.9577 - accuracy: 0.6179 - val_loss: 0.9636 - val_accuracy: 0.6464
Epoch 31/100
35/35 [==============================] - 4s 107ms/step - loss: 1.0128 - accuracy: 0.5813 - val_loss: 1.0186 - val_accuracy: 0.6107
Epoch 32/100
35/35 [==============================] - 4s 111ms/step - loss: 0.9773 - accuracy: 0.6223 - val_loss: 0.9744 - val_accuracy: 0.6286
Epoch 33/100
35/35 [==============================] - 4s 109ms/step - loss: 0.9864 - accuracy: 0.6018 - val_loss: 0.9655 - val_accuracy: 0.6464
Epoch 34/100
35/35 [==============================] - 4s 108ms/step - loss: 0.9275 - accuracy: 0.6357 - val_loss: 0.9325 - val_accuracy: 0.6607
Epoch 35/100
35/35 [==============================] - 4s 108ms/step - loss: 0.9293 - accuracy: 0.6411 - val_loss: 0.9170 - val_accuracy: 0.6929
Epoch 36/100
35/35 [==============================] - 4s 107ms/step - loss: 0.9102 - accuracy: 0.6482 - val_loss: 0.9417 - val_accuracy: 0.6643
Epoch 37/100
35/35 [==============================] - 4s 106ms/step - loss: 0.9221 - accuracy: 0.6464 - val_loss: 0.9234 - val_accuracy: 0.6500
Epoch 38/100
35/35 [==============================] - 4s 109ms/step - loss: 0.8959 - accuracy: 0.6562 - val_loss: 0.9269 - val_accuracy: 0.6393
Epoch 39/100
35/35 [==============================] - 4s 122ms/step - loss: 0.9128 - accuracy: 0.6509 - val_loss: 0.9212 - val_accuracy: 0.6607
Epoch 40/100
35/35 [==============================] - 4s 109ms/step - loss: 0.9326 - accuracy: 0.6482 - val_loss: 0.9088 - val_accuracy: 0.6536
Epoch 41/100
35/35 [==============================] - 4s 108ms/step - loss: 0.9197 - accuracy: 0.6554 - val_loss: 0.8864 - val_accuracy: 0.6750
Epoch 42/100
35/35 [==============================] - 4s 110ms/step - loss: 0.8552 - accuracy: 0.6795 - val_loss: 0.9160 - val_accuracy: 0.6750
Epoch 43/100
35/35 [==============================] - 5s 135ms/step - loss: 0.8260 - accuracy: 0.6946 - val_loss: 0.8756 - val_accuracy: 0.6607
Epoch 44/100
35/35 [==============================] - 4s 111ms/step - loss: 0.8473 - accuracy: 0.6812 - val_loss: 1.0027 - val_accuracy: 0.6143
Epoch 45/100
35/35 [==============================] - 5s 133ms/step - loss: 0.8678 - accuracy: 0.6750 - val_loss: 0.8530 - val_accuracy: 0.6679
Epoch 46/100
35/35 [==============================] - 4s 107ms/step - loss: 0.8481 - accuracy: 0.6786 - val_loss: 0.9078 - val_accuracy: 0.6464
Epoch 47/100
35/35 [==============================] - 4s 108ms/step - loss: 0.8149 - accuracy: 0.7063 - val_loss: 0.8465 - val_accuracy: 0.6750
Epoch 48/100
35/35 [==============================] - 4s 108ms/step - loss: 0.8013 - accuracy: 0.7045 - val_loss: 0.8184 - val_accuracy: 0.6893
Epoch 49/100
35/35 [==============================] - 4s 104ms/step - loss: 0.7956 - accuracy: 0.7071 - val_loss: 0.8856 - val_accuracy: 0.6679
Epoch 50/100
35/35 [==============================] - 4s 109ms/step - loss: 0.8029 - accuracy: 0.7143 - val_loss: 0.8272 - val_accuracy: 0.6964
Epoch 51/100
35/35 [==============================] - 4s 107ms/step - loss: 0.8172 - accuracy: 0.6955 - val_loss: 0.8100 - val_accuracy: 0.7071
Epoch 52/100
35/35 [==============================] - 4s 115ms/step - loss: 0.7617 - accuracy: 0.7348 - val_loss: 0.8108 - val_accuracy: 0.7036
Epoch 53/100
35/35 [==============================] - 4s 111ms/step - loss: 0.7817 - accuracy: 0.7045 - val_loss: 0.8925 - val_accuracy: 0.6464
Epoch 54/100
35/35 [==============================] - 5s 135ms/step - loss: 0.7449 - accuracy: 0.7393 - val_loss: 0.7884 - val_accuracy: 0.7107
Epoch 55/100
35/35 [==============================] - 4s 111ms/step - loss: 0.7751 - accuracy: 0.7277 - val_loss: 0.7931 - val_accuracy: 0.7143
Epoch 56/100
35/35 [==============================] - 4s 110ms/step - loss: 0.7322 - accuracy: 0.7455 - val_loss: 0.8221 - val_accuracy: 0.7036
Epoch 57/100
35/35 [==============================] - 4s 109ms/step - loss: 0.7453 - accuracy: 0.7321 - val_loss: 0.8126 - val_accuracy: 0.6964

Epoch 58/100
35/35 [==============================] - 4s 105ms/step - loss: 0.7243 - accuracy: 0.7393 - val_loss: 0.7548 - val_accuracy: 0.7429
Epoch 59/100
35/35 [==============================] - 4s 106ms/step - loss: 0.7504 - accuracy: 0.7321 - val_loss: 0.7978 - val_accuracy: 0.7250
Epoch 60/100
35/35 [==============================] - 4s 103ms/step - loss: 0.7051 - accuracy: 0.7464 - val_loss: 0.7889 - val_accuracy: 0.7036
Epoch 61/100
35/35 [==============================] - 4s 107ms/step - loss: 0.7177 - accuracy: 0.7545 - val_loss: 0.7986 - val_accuracy: 0.6893
Epoch 62/100
35/35 [==============================] - 4s 106ms/step - loss: 0.6978 - accuracy: 0.7509 - val_loss: 0.8035 - val_accuracy: 0.7071
Epoch 63/100
35/35 [==============================] - 4s 102ms/step - loss: 0.6918 - accuracy: 0.7616 - val_loss: 0.8172 - val_accuracy: 0.6929
Epoch 64/100
35/35 [==============================] - 4s 102ms/step - loss: 0.6753 - accuracy: 0.7688 - val_loss: 0.7521 - val_accuracy: 0.7357
Epoch 65/100
35/35 [==============================] - 4s 106ms/step - loss: 0.6957 - accuracy: 0.7536 - val_loss: 0.7493 - val_accuracy: 0.7393
Epoch 66/100
35/35 [==============================] - 4s 105ms/step - loss: 0.6615 - accuracy: 0.7705 - val_loss: 0.7877 - val_accuracy: 0.7143
Epoch 67/100
35/35 [==============================] - 4s 106ms/step - loss: 0.7764 - accuracy: 0.7312 - val_loss: 0.7389 - val_accuracy: 0.7393
Epoch 68/100
35/35 [==============================] - 4s 106ms/step - loss: 0.6975 - accuracy: 0.7402 - val_loss: 0.7585 - val_accuracy: 0.7143
Epoch 69/100
35/35 [==============================] - 4s 106ms/step - loss: 0.6690 - accuracy: 0.7545 - val_loss: 0.7566 - val_accuracy: 0.7393
Epoch 70/100
35/35 [==============================] - 4s 102ms/step - loss: 0.6307 - accuracy: 0.7857 - val_loss: 0.7041 - val_accuracy: 0.7643
Epoch 71/100
35/35 [==============================] - 4s 105ms/step - loss: 0.6366 - accuracy: 0.7812 - val_loss: 0.7085 - val_accuracy: 0.7571
Epoch 72/100
35/35 [==============================] - 4s 106ms/step - loss: 0.6245 - accuracy: 0.7795 - val_loss: 0.7326 - val_accuracy: 0.7321
Epoch 73/100
35/35 [==============================] - 4s 106ms/step - loss: 0.6293 - accuracy: 0.7705 - val_loss: 0.7093 - val_accuracy: 0.7607
Epoch 74/100
35/35 [==============================] - 4s 108ms/step - loss: 0.6182 - accuracy: 0.7848 - val_loss: 0.7658 - val_accuracy: 0.7179
Epoch 75/100
35/35 [==============================] - 4s 107ms/step - loss: 0.6378 - accuracy: 0.7688 - val_loss: 0.8238 - val_accuracy: 0.6714
Epoch 76/100
35/35 [==============================] - 4s 111ms/step - loss: 0.5908 - accuracy: 0.7884 - val_loss: 0.6730 - val_accuracy: 0.7571
Epoch 77/100
35/35 [==============================] - 4s 102ms/step - loss: 0.5998 - accuracy: 0.7821 - val_loss: 0.7893 - val_accuracy: 0.6893
Epoch 78/100
35/35 [==============================] - 4s 106ms/step - loss: 0.5609 - accuracy: 0.8107 - val_loss: 0.6976 - val_accuracy: 0.7464
Epoch 79/100
35/35 [==============================] - 4s 105ms/step - loss: 0.5910 - accuracy: 0.7982 - val_loss: 0.7154 - val_accuracy: 0.7607
Epoch 80/100
35/35 [==============================] - 4s 102ms/step - loss: 0.6056 - accuracy: 0.7902 - val_loss: 0.6954 - val_accuracy: 0.7357
Epoch 81/100
35/35 [==============================] - 4s 106ms/step - loss: 0.5674 - accuracy: 0.8009 - val_loss: 0.6701 - val_accuracy: 0.7571
Epoch 82/100
35/35 [==============================] - 4s 107ms/step - loss: 0.5560 - accuracy: 0.8196 - val_loss: 0.6816 - val_accuracy: 0.7679
Epoch 83/100
35/35 [==============================] - 4s 102ms/step - loss: 0.6122 - accuracy: 0.7821 - val_loss: 0.6853 - val_accuracy: 0.7607
Epoch 84/100
35/35 [==============================] - 4s 106ms/step - loss: 0.5789 - accuracy: 0.8071 - val_loss: 0.6983 - val_accuracy: 0.7643
Epoch 85/100
35/35 [==============================] - 4s 106ms/step - loss: 0.5415 - accuracy: 0.8188 - val_loss: 0.7314 - val_accuracy: 0.7250
Epoch 86/100
35/35 [==============================] - 4s 103ms/step - loss: 0.5388 - accuracy: 0.8188 - val_loss: 0.6557 - val_accuracy: 0.7679
Epoch 87/100
35/35 [==============================] - 4s 106ms/step - loss: 0.5376 - accuracy: 0.8196 - val_loss: 0.7236 - val_accuracy: 0.7571
Epoch 88/100
35/35 [==============================] - 4s 107ms/step - loss: 0.5522 - accuracy: 0.8080 - val_loss: 0.6828 - val_accuracy: 0.7500
Epoch 89/100
35/35 [==============================] - 4s 106ms/step - loss: 0.5341 - accuracy: 0.8232 - val_loss: 0.6868 - val_accuracy: 0.7714
Epoch 90/100
35/35 [==============================] - 4s 107ms/step - loss: 0.5150 - accuracy: 0.8205 - val_loss: 0.6961 - val_accuracy: 0.7607
Epoch 91/100
35/35 [==============================] - 4s 106ms/step - loss: 0.5239 - accuracy: 0.8223 - val_loss: 0.6255 - val_accuracy: 0.7714
Epoch 92/100
35/35 [==============================] - 4s 103ms/step - loss: 0.5147 - accuracy: 0.8241 - val_loss: 0.6917 - val_accuracy: 0.7500
Epoch 93/100
35/35 [==============================] - 4s 106ms/step - loss: 0.5585 - accuracy: 0.8036 - val_loss: 0.7553 - val_accuracy: 0.6929
Epoch 94/100
35/35 [==============================] - 4s 107ms/step - loss: 0.5063 - accuracy: 0.8321 - val_loss: 0.7207 - val_accuracy: 0.7571
Epoch 95/100
35/35 [==============================] - 4s 106ms/step - loss: 0.5710 - accuracy: 0.7911 - val_loss: 0.6528 - val_accuracy: 0.7500
Epoch 96/100
35/35 [==============================] - 4s 105ms/step - loss: 0.5082 - accuracy: 0.8277 - val_loss: 0.6559 - val_accuracy: 0.7714
Epoch 97/100
35/35 [==============================] - 4s 102ms/step - loss: 0.5175 - accuracy: 0.8161 - val_loss: 0.6663 - val_accuracy: 0.7679
Epoch 98/100
35/35 [==============================] - 4s 106ms/step - loss: 0.4827 - accuracy: 0.8321 - val_loss: 0.6344 - val_accuracy: 0.7571
Epoch 99/100
35/35 [==============================] - 4s 106ms/step - loss: 0.5022 - accuracy: 0.8250 - val_loss: 0.7106 - val_accuracy: 0.7429
Epoch 100/100
35/35 [==============================] - 4s 107ms/step - loss: 0.4906 - accuracy: 0.8348 - val_loss: 0.6873 - val_accuracy: 0.7536

In [41]:
 model.evaluate(test_x, test_y)

11/11 [==============================] - 0s 29ms/step - loss: 0.6362 - accuracy: 0.7543

[0.6362075209617615, 0.7542856931686401]